@use "settings" as set; 

header  {
    background : url(./../img/bg-slider-06.jpg) center/cover;
    min-height: 100dvh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;

    nav {
        display: grid;
        align-items: center;

        ul {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(10,1fr);
            grid-template-rows: 1fr;
            text-align: center;
            list-style: none;
            font-size: 1rem;

            li {
                color: set.$color1;
                font-family: set.$font2;
                text-transform: uppercase;
            }

            li:first-child {
                font-family: set.$font1;
                font-size: 2rem;
                text-transform:none;
            }
            
            li:last-child {
                display: flex;
                justify-content: space-evenly;
            }

            .menuing {
                line-height: 50px;
                transition: box-shadow 0.8s ease;

                &:hover {
                    box-shadow: 0 1px 0 set.$color1;
                }
            }
        }
    }

    div {
        @include set.flexColumn;
        text-align: center;

        h1 {
            font-size: 3.5rem;
            font-weight: 400;
            color: set.$hcolor;
            line-height: 1%;
        }
    
        h2 {
            font-size: 4rem;
            font-weight: 600;
            color: set.$color1;
            letter-spacing: 6px;
        }
        
        h2:last-child {
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 8px;
            padding: 0 10%;
        }
    
        img {
            padding: 2% 0 3% 0;
        }
    }
}


@media screen and (max-width: 700px) {
    header {
        nav {
            
            ul {
                display: flex;
                justify-content: space-evenly;

                li:first-child {
                    font-size: 3rem;
                }
                
                li {
                    width: 50%;
                }

                .menuing{
                    display: none;
                }

            }
        }
    }
}